
#content {
    max-width: 1600px;
    margin: 0 auto;
}
nav {
    display: flex;
    justify-content: space-around;
}
h1, h2, h3, h4, h5, h6 {
    font-family: Satisfy, Baguet Script, Freestyle script, georgia;
    color: #D7BCE8;
}
p {
    color: #5D576B;
}
body {
    background-color: #FFFAEA;
    font-family: Open Sans, Lato, Helvetica, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
header {
    background-color: #5D576B;
    color:#8884FF;
    display: grid;
    grid-template-columns: 150px auto;
}
nav a {
    text-align: center;
    color:#D7BCE8;
    text-decoration: none;
    padding: 35px;
}
nav a:hover {
    color:#FFE999;
}
#hero-img {
    width: 100%
}
.home-title {
    font-family: Satisfy , Baguet Script, Freestyle script, georgia;
    font-size: 2em;
    color:#;
    margin-top: 10px;
}
.msg {
    background-color:#8884FF;
    color:#FFE999;
    line-height: 1.5em;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #6f7364;
}
.msg p {
    font-family: Open Sans, Lato, Helvetica, sans-serif;
    font-size: .8em;
    color:#5D576B;
    padding-bottom: 15px;
}
.home-grid {
    display: grid;
    grid-template-columns: 1fr, 1fr, 1fr;
    grid-template-rows: repeat (6, 1fr);
}
footer {
    background-color: #5D576B;
    color:#8884FF;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer .social image{
    padding-top: 15px;
}
footer a {
    color:#D7BCE8;
    text-decoration: none;
}
footer a:hover {
    color:#FFE999;
}
footer p {
    font-size: 1.2em;
}
footer p a:hover {
    text-decoration: underline;
}
.logo{
    width: 150px;
}
@media screen and (max-width: 900px) {
    #hero-img, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    .home-title {
        font-size: 25px;
    }
    .sketch-card, .animation-card, .physical-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}