
#content {
    max-width: 1600px;
    margin: 0 auto;
}
nav {
    display: flex;
    justify-content: space-around;
}
h1, h2, h3, h4, h5, h6 {
    font-family: Satisfy, Baguet Script, Freestyle script, georgia;
}
p {
    color: #5D576B;
}
body {
    background-color: #FFFAEA;
    font-family: Open Sans, Lato, Helvetica, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
header {
    background-color: #5D576B;
    color:#8884FF;
    display: grid;
    grid-template-columns: 150px auto;
}
nav a {
    text-align: center;
    color:#D7BCE8;
    text-decoration: none;
    padding: 35px;
}
nav a:hover {
    color:#FFE999;
}
#hero-img {
    width: 100%
}
.home-title {
    font-family: Satisfy , Baguet Script, Freestyle script, georgia;
    font-size: 2em;
    color:#;
    margin-top: 10px;
}
.msg {
    background-color:#8884FF;
    color:#FFCE0A;
    line-height: 1.5em;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #6f7364;
}
footer {
    background-color: #5D576B;
    color:#8884FF;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer .social image{
    padding-top: 15px;
}
footer a {
    color:#D7BCE8;
    text-decoration: none;
}
footer a:hover {
    color:#FFE999;
}
footer p {
    font-size: 1.2em;
}
footer p a:hover {
    text-decoration: underline;
}
.logo{
    width: 150px;
}